.section_title {
    font-size: 2.3vw;
    font-weight: 600;
    line-height: 3.2vw;
}

.section_children {
    margin-top: 1vw;
    font-size: 1.8vw;
    font-weight: 300;
    width: 37vw;
    line-height: 3vw;
}




