.submit_button_container {
  align-items: flex-end;
  justify-content: center;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  gap: 8px;
}

.submit_button_container svg {
  pointer-events: none;
  align-items: center;
}
