SMTP_HOST=in-v3.mailjet.com
SMTP_PORT=465
# Ici, il faut mettre la CLÉ API (MailJet -> Profil puis Préférences du compte -> Paramètres SMTP et Send API -> Récupérer mes identifiants API)
SMTP_USER=0123456789
# Ici, la CLÉ SECRÈTE (MailJet -> Profil puis Préférences du compte -> Paramètres SMTP et Send API -> Récupérer mes identifiants API)
SMTP_PASSWORD=0123456789 