SMTP_HOST=in-v3.mailjet.com
SMTP_PORT=465
# Ici, il faut mettre la CLÉ API (MailJet -> Profil puis Préférences du compte -> Paramètres SMTP et Send API -> Récupérer mes identifiants API)
APIKEY_PUBLIC=0123456789
# Ici, la CLÉ SECRÈTE (MailJet -> Profil puis Préférences du compte -> Paramètres SMTP et Send API -> Récupérer mes identifiants API)
APIKEY_PRIVATE=0123456789 
EMAIL='votre.adresse@mail'
URL=http://localhost:3000/reset/password